<h1 class="mat-h1">Basics</h1>

<app-value
  title="Observable"
  (didActivate)="triggerObservable()"
  [value]="observableValue"
></app-value>
<app-value
  title="Subject"
  (didActivate)="triggerSubject()"
  [value]="subjectValue"
></app-value>
