<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>Value: {{ value }}</mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button (click)="didActivate.emit()">
      Activate
    </button>
  </mat-card-actions>
</mat-card>
