<h1 class="mat-h1">Angular features</h1>

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput type="text" formControlName="firstName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput type="text" formControlName="lastName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <button type="button" [disabled]="!formGroup.valid" mat-raised-button>
    Submit
  </button>
</form>
