<mat-toolbar color="primary">
  <span>RxJS demo</span>
  <a mat-button routerLink="/creation">Basics</a>
  <a mat-button routerLink="/operators">Operators</a>
  <a mat-button routerLink="/angular-features">Angular features</a>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
