<h1 class="mat-h1">Operators</h1>

<app-value
  title="Creation"
  (didActivate)="triggerCreation()"
  [value]="creationValue"
></app-value>

<app-value
  title="Filtering"
  (didActivate)="triggerFiltering()"
  [value]="filterValue"
></app-value>

<app-value
  title="Combination"
  (didActivate)="triggerCombination()"
  [value]="combinationValue"
></app-value>

<app-value
  title="Error handling"
  (didActivate)="triggerErrorHandling()"
  [value]="errorHandlingValue"
></app-value>

<app-value
  title="Utility"
  (didActivate)="triggerUtility()"
  [value]="utilityValue"
></app-value>
